In [1]:
import yfinance as yf

In [2]:
aapl = yf.Ticker("AAPL")

In [ ]:
aapl.

  period  strongBuy  buy  hold  sell  strongSell
0     0m          8   24    12     1           2
1    -1m          8   24    12     1           2
2    -2m          8   23    12     1           2
3    -3m          8   24    12     0           2